@import url('https://fonts.googleapis.com/css?family=Lora');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F4F4F4;
}

a {
    text-decoration: none;
    outline: none;
    color: #000000;
    transition: color .5s;
}

a:visited {
    color: #000000;
}

a:hover {
    color: #ff5309;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 98px;
    border-bottom: 2px solid black;
}

@media screen and (max-width: 500px) {
    .menu {
        width: 200px;
    }
}

ul.menu {
    margin: auto;
}

.menu li {
    display: inline-block;
}

.menu li:after {
    content: "|";
    color: #000000;
    display: inline-block;
    vertical-align: top;
}

.menu li:last-child:after {
    content: none;
}

.menu a {
    font-family: 'Comfortaa', cursive;
    letter-spacing: 2px;
    position: relative;
    margin: 0 30px 0 30px;
    font-size: 15px;
    text-transform: uppercase;
    display: inline-block;
    transition: color .5s;
}

.menu a:before,
.menu a:after {
    content: "";
    position: absolute;
    height: 2px;
    top: auto;
    right: 50%;
    bottom: -5px;
    left: 50%;
    background: #ff5309;
    transition: .5s;
}

.menu a:hover:before {
    left: 0;
}

.menu a:hover:after {
    right: 0;
}

.content {
    min-height: calc(100vh - 200px);
    max-width: 1200px;
}

.caption {
    font-family: 'Comfortaa', cursive;
    text-transform: uppercase;
    text-align: center;
    font-size: 15px;
    display: block;
    width: auto;
    padding: 20px 0;
    border-bottom: 2px solid #000000;
}

.profile_info,
.orders_list,
.position a,
.create,
.update,
.description,
.info_picture,
.login,
.registration,
.orders,
.error_message {
    display: flex;
    flex-direction: column;
    width: auto;
    margin: 15px 15px;
    padding: 15px 15px;
    color: #000000;
}

.description {
    max-width: 500px;
    justify-content: space-around;
}

select,
.profile p,
.orders p,
.success p,
.goods,
.order,
.order p,
.basket,
.admin p,
.admin_orders,
.create,
.update,
.description p,
.position p,
.login,
.registration,
.error_message p {
    font-family: 'Comfortaa', cursive;
    font-size: 15px;
    margin: 10px;
    text-align: center;
}

.profile_info p, .orders_list p {
    text-align: left;
}

.description .short_description {
    font-size: 12px;
    color: #707070;
    line-height: 16px;
    text-align: left;
}

.create, .update, .description {
    text-align: center;
}

.position p {
    text-transform: uppercase;
}

select {
    outline: none;
    border: 2px solid black;
    border-radius: 25px;
    background: transparent;
    min-width: 200px;
    min-height: 20px;
    margin: 5px;
    padding: 5px;
}

select:hover {
    color: #F4F4F4;
    background-color: black;
    transition: .5s;
}

.position, .profile, .success, .goods, .order, .basket, .admin, .admin_orders, .info {
    justify-content: space-around;
    display: flex;
    width: auto;
    margin: 15px 15px;
    flex-wrap: wrap;
}

.order, .basket, .create, .login, .registration, .orders {
    flex-direction: column;
    align-content: space-around;
    align-items: center;
}

.position a {
    height: 300px;
    width: 300px;
    align-items: center;
}

.position a:hover {
    color: #ff5309;
    transition: .5s;
}

.picture, .admin_good_picture, .description_picture {
    height: 200px;
    width: 200px;
    border: 2px solid transparent;
    border-radius: 50%;
}

.position a:hover img, .picture:hover, .admin_good_picture:hover, .description_picture:hover {
    border: 2px solid #ff5309;
    transition: .5s;
}

.admin_good_picture, .description_picture {
    cursor: zoom-in;
}

.description_picture {
    width: 300px;
    height: 300px;
}

.description .price {
    font-family: 'Comfortaa', cursive;
    font-size: 15px;
    color: #000000;
}

button {
    margin: 15px;
    outline: none;
    font-family: 'Comfortaa', cursive;
    border: 1px solid black;
    padding: 15px 50px;
    color: black;
    background-color: transparent;
    text-transform: uppercase;
    border-radius: 25px;
}

button:hover {
    margin: 15px;
    color: #F4F4F4;
    background-color: black;
    transition: .5s;
}

input[type="text"], input[type="email"], input[type="password"], textarea {
    outline: none;
    font-family: 'Comfortaa', cursive;
    margin: 10px auto;
    display: block;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 350px;
    height: 20px;
}

input[type="file"] {
    width: 200px;
    height: auto;
    outline: none;
    font-family: 'Comfortaa', cursive;
    margin: 10px auto;
    display: block;
    padding: 5px;
}

textarea {
    width: 350px;
    height: 150px;
}

input[type="submit"] {
    margin: 15px;
    outline: none;
    font-family: 'Comfortaa', cursive;
    border: 1px solid black;
    padding: 15px 50px;
    color: black;
    background-color: transparent;
    text-transform: uppercase;
    border-radius: 25px;
}

input[type="submit"]:hover {
    margin: 15px;
    color: #F4F4F4;
    background-color: black;
    transition: .5s;
}

footer {
    height: 100px;
    background-color: #191919;
    color: #F4F4F4;
}

.footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 1200px;
    width: auto;
    height: 100%;
    margin: 0 auto;
    background-color: transparent;
}

.footer p {
    font-family: 'Comfortaa', cursive;
    text-align: center;
    font-size: 12px;
    margin-right: 25px;
}

table {
    margin: 15px 0;
    border: 2px solid black;
    border-collapse: collapse;
    vertical-align: middle;
    text-align: center;
}

thead {
    font-weight: bold;
}

th {
    border: 2px solid black;
}

td {
    padding: 10px;
    width: auto;
    height: auto;
    border: 2px solid black;
}

details summary::-webkit-details-marker {
    display: none;
}

.done {
    color: #328019;
}

.error {
    color: #cd262b;
}
