<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Работа с файлами</title>
</head>
<body>
<a href='../index.php'> Вернуться в галерею </a>
<div>
    {% for d in data %}
        <img src='{{ d.adress|escape }}'>
    {% endfor %}
</div>
</body>
</html>