<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Работа с файлами</title>
</head>
<body>
<a href='{{lastLink}}'> Назад </a>
<div>
        <img src='{{ address }}'>
</div>
</body>
</html>