<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../homework/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Каталог</title>
</head>
<body>
<div class="content">
    <h2>Галерея</h2>
    <div class="pictures">
        {% for d in data %}
        <form action="backend/image.php" method="post" name="adress">
            <input type="hidden" value="{{ d.adress|escape }}">
            <a target='_blank'> <img src='{{ d.thumb_adress|escape }}'></a>
        </form>
        {% endfor %}
    </div>
</div>
</body>
</html>