<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../homework/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Каталог</title>
</head>
<body>
<div class="content">
    <h2>Галерея</h2>
    <div class="pictures">
          {% for picture in pictures %}
          <a href='image.php?photo={{ picture.id }}'> <img src={{ picture.thumb_address }}></a>
          {% endfor %}
    </div>
    <div class="load">
        <form enctype="multipart/form-data" method="post" action="">
            <h3>Загрузка изображения:</h3>
            <input type="hidden" name="MAX_FILE_SIZE" value="10000000">
            <input type="file" name="picture">
            <input type="submit" value="Отправить" name="send">
            <p>{{ message }}</p>
        </form>
    </div>
</div>
</body>
</html>