html, body {
    height: 100%;
    background-color: #f8f8f8;
    margin: 0;
}

a {
    text-decoration: none;
}

.content {
    width: 1200px;
    margin: 30px auto;
    position: relative;
    text-align: center;
}

.pictures {
    width: auto;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.pictures img {
    width: auto;
}

span {
    text-align: center;
    font-size: 18px;
    padding-top: 20px;
}

.load {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.load form {
    width: auto;
    margin: auto;
    text-align: center;
}